
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit Run!</h1>
  <form action="/runs/<%= run._id %>?_method=PUT" method="POST">
    <label>
      Run Name:
      <input 
        type="text" 
        name="name"
        value="<%= run.name %>"
        autocomplete="off"
      >
    </label>
    <button type="submit">DONE</button>
  </form>
</section>

<%- include('../partials/footer') %>