
<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/edit.css">
<%- include('../partials/nav') %>

<section>
  <h1>Edit Run!</h1>
  <form action="/runs/<%= run._id %>?_method=PUT" method="POST">
    <label>
      Run Name:
      <input 
        type="text" 
        name="name"
        value="<%= run.name %>"
        autocomplete="off"
      >
    </label>
    <label>
      New Mileage:
      <input 
        type="text" 
        name="miles"
        value="<%= run.miles %>"
        autocomplete="off"
      >
    </label>
    <label>
      Complete:
      <input 
        type="checkbox" 
        name="complete"
        <%= run.complete ? "checked" : "" %> 
      >
    <button type="submit">DONE</button>
  </form>
</section>

<%- include('../partials/footer') %>