<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/runs/index.css">
  <%- include('../partials/nav') %>

    <main>
      <div class="index-bodyruns">


        <h1 class="header">RUNS</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Route</th>
              <th>Miles</th>
              <th>Complete</th>
              <th>Runner</th>

            </tr>
          </thead>
          <tbody>
            <% runs.forEach(run=> { %>
              <tr>
                <td>
                  <%= run.name %>
                </td>
                <td>
                  <%= run.date %>
                </td>
                <td>
                  <%= run.route %>
                </td>
                <td>
                  <%= run.miles %>
                </td>
                <td>
                  <%= run.complete ? 'complete' : 'not complete' %>
                </td>
                <td>
                  <a href="/runs/<%= run._id %>"> 
                    <button class="profile-btn">
                      <%= run.owner.name %>
                    </button>
                  </a>
                </td>

                <% }) %>
          </tbody>
        </table>
      </div>



      
    </main>






    <%- include('../partials/footer') %>