<%- include('../partials/html-head') %>
  <!-- <link rel="stylesheet" href="/stylesheets/flights/index.css" /> -->
  <%- include('../partials/nav') %>

    <main>
      <h1>RUNS</h1>
      <table>
        <thead>
          <tr>
            <th>Name:</th>
            <th>Date:</th>
            <th>Route:</th>
          </tr>
        </thead>
        <tbody>
          <% runs.forEach(run => { %>
            <tr>
              <td>
                <%= run.name %>
              </td>
              <td>
                <%= run.date %>
              </td>
              <td>
                <%= run.route %>
              </td>
              <td><a href="/runs/show/<%= run._id %>"> <%= run.owner.name %> </a></td>
              <% }) %>
        </tbody>
      </table>
    </main>

    <%- include('../partials/footer') %>