<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<h1> IM WORKING</h1>
<section>
  <p> <%= run.owner ? run.owner.name : "Unknown"%> RAN...</p>
  <p> <%= run.miles %> MILES AT</p>
  <p> <%= run.route %></p>
  <% if (run.owner.equals(user?.profile._id)) { %>
    <form action="/runs/<%= run._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete Run</button>
    </form>
  
  <% } %>




</section>









<%- include('../partials/footer') %>