<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/runs/show.css">
  <%- include('../partials/nav') %>



    <section>
      <h1>
        DETAILS
      </h1>
      <div class="runners-info">
        <div class="run-items">
          <p id="runner-item">
            <%= run.owner ? run.owner.name : "Unknown" %> RAN...
          </p>
          <p id="runner-item">
            <%= run.miles %> MILES AT
          </p>
          <p id="runner-item">
            <%= run.route %>
          </p>
        </div>
      </div>
    </section>
    <div class="buttons">

      <% if (run.owner.equals(user?.profile._id)) { %>


        <a href="/runs/<%= run._id %>/edit">
          <button class="edit-btn">Edit Run!</button>
        </a>

        <form action="/runs/<%= run._id %>?_method=DELETE" method="POST">
          <button type="submit" class="dlt-btn">Delete Run</button>
        </form>
        <% } %>

          <h2>Comments</h2>
          <div class="cmts">
            <form id="add-review-form" action="/runs/<%= run._id %>/comments" method="POST">
              <label for="content-textarea">Comment:</label>
              <textarea name="content" id="content-textarea"></textarea>
              <button type="submit" id="cmt-btn">Add Comment</button>
            </form>
          </div>
          <% if (run.comments.length) { %>
            <table>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                <% run.comments.forEach(function(comment) { %>
                  <tr>
                    <td>
                      <%= comment.createdAt.toLocaleDateString() %>
                    </td>
                    <td>
                      <%= comment.content %>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
            <% } else { %>
              <h3>No Comments</h3>
              <% } %>

    </div>





    <%- include('../partials/footer') %>