<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>



    <section>
      <div class="runners-info">
        <p>
          <%= run.owner ? run.owner.name : "Unknown" %> RAN...
        </p>
        <p>
          <%= run.miles %> MILES AT
        </p>
        <p>
          <%= run.route %>
        </p>
      </div>
    </section>
    <div class="buttons">

    <% if (run.owner.equals(user?.profile._id)) { %>
        

      <a href="/runs/<%= run._id %>/edit">
        <button class="btn">Edit Run!</button>
      </a>

      <form action="/runs/<%= run._id %>?_method=DELETE" method="POST">
        <button class="btn-delete" type="submit">Delete Run</button>
      </form>

      <form 
      id="add-review-form"
      action="/runs/<%= run._id %>/comments"
      method="POST"
    >
    <label for="content-textarea">Comment:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit">Add Comment</button>
  </form>

      <% } %>
    </div>








    <%- include('../partials/footer') %>