<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('./partials/nav') %>

<main>
  <div class="index-body">

    <div class="spinner">
      <span>R</span>
      <span>U</span>
      <span>N</span>
      <span>T</span>
      <span>R</span>
      <span>A</span>
      <span>C</span>
      <span>K</span>
      <span>E</span>
      <span>R</span>
    </div>
  <h1>Welcome, <%= user ? user.profile.name : "Runner" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  
  <% } %>
</div>
</main>

<%- include('./partials/footer') %>
