<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>RUN TRACKER</h1>
  <h2>Welcome, <%= user ? user.profile.name : "Runner" %></h2>
  <h3>LOG IN TO CONTINUE</h3>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
